In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [3]:
df.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Nationality', 'Club', 'Value', 'Wage',
       'Position', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

In [4]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Uruguay      3
Argentina    3
Germany      3
Belgium      3
France       2
Portugal     1
Croatia      1
England      1
Italy        1
Poland       1
Slovenia     1
Brazil       1
Name: Nationality, dtype: int64

In [5]:
s.index
print(type(s.index))
print(type(s.index[2]))

<class 'pandas.core.indexes.base.Index'>
<class 'str'>

In [6]:
s.loc[s > 1]

Spain        4
Uruguay      3
Argentina    3
Germany      3
Belgium      3
France       2
Name: Nationality, dtype: int64

## Сколько футбольных клубов представлено в датасете?

In [7]:
clubs = df['Club'].value_counts()
len(clubs)
print(type(clubs), len(clubs))

<class 'pandas.core.series.Series'> 650

## Отметьте названия футбольных клубов, представленных в датасете наибольшим количеством игроков.

In [23]:
clubs

Shonan Bellmare      30
V-Varen Nagasaki     30
Padova               29
Vissel Kobe          29
De Graafschap        29
                     ..
Olympiacos CFP        8
GD Chaves             7
Vitória Guimarães     7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [24]:
players = df[df.Club == "Atlético Mineiro"]
len(players)

6

# Подсчет количества значений в процентах и по численным признакам

## Подсчет количества значений в процентах

Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [10]:
ten_persent_positions = df["Position"].value_counts(normalize = True)
ten_persent_positions[ten_persent_positions > 0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

## Данные об игроках каких позиций (Position) занимают менее 1% датасета?

In [11]:
one_persent_positions = df["Position"].value_counts(normalize = True)
one_persent_positions[one_persent_positions < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

# Подсчет количества значений по численным признакам

In [40]:
small_df = df[df.columns[0:7]].head(25)
s = small_df["Wage"].value_counts(bins=4)
display(s)

# s.index
param = s.index[3]
param = small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]
param

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

   Unnamed: 0       Name  Age Nationality          Club      Value    Wage
0           0   L. Messi   31   Argentina  FC Barcelona  110500000  565000
7           7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000

## В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [62]:
left_leg_accuracy = df["FKAccuracy"].value_counts(normalize = True)
left_leg_accuracy = left_leg_accuracy[left_leg_accuracy < 0.2]
left_leg_accuracy

32    0.029619
35    0.027991
42    0.027526
40    0.027371
39    0.026595
        ...
3     0.000078
90    0.000078
92    0.000078
93    0.000078
94    0.000078
Name: FKAccuracy, Length: 89, dtype: float64

## Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [65]:
left_leg_accuracy = df["FKAccuracy"].value_counts(normalize = True)
left_leg_accuracy.iloc[0]

0.02961929130805614

# Функции unique и nunique и преобразование серии value_counts в датафрейм

## переменная result будет содержать количество видов позиций (Position), которые занимают игроки, представленные в датасете:

In [76]:
position_s = df["Position"]
position_s.unique()

array(['RF', 'ST', 'LW', 'GK', 'RCM', 'LF', 'RS', 'RCB', 'LCM', 'CB',
       'LDM', 'CAM', 'CDM', 'LS', 'LCB', 'RM', 'LAM', 'LM', 'LB', 'RDM',
       'RW', 'CM', 'RB', 'RAM', 'CF', 'RWB', 'LWB'], dtype=object)

In [74]:
len(df["Position"].value_counts())

27

In [75]:
position_s.nunique()

27

# Преобразование серии value_counts в датафрейм

In [87]:
series = df["Nationality"].value_counts()
s_df = series.reset_index()

s_df.columns = ["Nationality", "Players"]
s_df

              Nationality  Players
0                 England     1368
1                 Germany      919
2                   Spain      671
3                  France      614
4               Argentina      574
..                    ...      ...
151              St Lucia        1
152  Central African Rep.        1
153                  Oman        1
154                  Guam        1
155             Palestine        1

[156 rows x 2 columns]

# Задачи

## У какого процента испанских футболистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат среди испанских игроков? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

In [120]:
spains = df[df.Nationality == "Spain"]
wage_25_percent_s = spains["Wage"].value_counts(normalize = True, bins = 4)
lower_than_25_percent = wage_25_percent_s.iloc[0] * 100
lower_than_25_percent = int(lower_than_25_percent)
lower_than_25_percent

97

## Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [124]:
manchecters = df[df.Club == "Manchester United"]
unique_nations_value = manchecters["Nationality"].nunique()
unique_nations_value

13

## С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [136]:
brazilians = df[df.Nationality == "Brazil"]
brazilians = brazilians[brazilians.Club == "Juventus"]
brazilians = brazilians["Name"].unique()
brazilians

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

## Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [144]:
oldfagers = df[df.Age > 35]
club = oldfagers["Club"].value_counts().head(3)
club

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Club Atlético Talleres        3
Name: Club, dtype: int64

## С помощью функции value_counts с параметром bins разбейте всех футболистов сборной Аргентины (Nationality = 'Argentina') на 4 равные группы по возрасту. Сколько футболистов в возрасте от 34,75 до 41 года в сборной Аргентины?

In [147]:
argentis = df[df.Nationality == "Argentina"]
argentis["Age"].value_counts(bins = 4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

## Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [152]:
spain = df[df.Nationality == "Spain"]
juniors = spain["Age"].value_counts(normalize = True)
display(juniors)
juniors.iloc[0] * 100

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

11.773472429210134

# 7. Функция groupby